<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Easy Builder</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="../../assets/css/connect.css" rel="stylesheet">
        <link href="../../assets/css/custom.css" rel="stylesheet">
        <link href="../../assets/css/dragAndDrop.css" rel="stylesheet">
        <link href="../../assets/css/Studio.css" rel="stylesheet">
        <link href="../../assets/css/dark_theme.css" rel="stylesheet">
        <link href="../../assets/css/shop.css" rel="stylesheet">
    </head>
    <body>
        <div class='loader'>
            <div class='spinner-grow text-primary' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
        </div>
        <div class="shop-popup" id="shop-popup"></div>
        <div class="PageBuilder-container">
            <div class="ST-container-EasyBuiulder">

                <div class="nav-panel-ST">
                    <ul class="nav-panel-list-ST unselectable">
                        <li class="nav-panel-item-ST">
                            <div class="element-item" id="Elements-Studio">
                                <i class="material-icons">widgets</i>
                                <div class="element-card">
                                    Elem.
                                </div>
                            </div>
                        </li>
                        <li class="nav-panel-item-ST">
                            <div class="element-item">
                                <i class="material-icons">apps</i>
                                <div class="element-card">
                                    map
                                </div>
                            </div>
                    </li>
                    <li class="nav-panel-item-ST">
                        <div class="element-item" id="task-Studio">
                            <i class="material-icons">add</i>
                            <div class="element-card">
                                task
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-ST">
                        <div class="element-item" id="settings-Studio">
                            <i class="material-icons">settings</i>
                            <div class="element-card">
                                Settings
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-ST">
                        <div class="element-item" id="devices-Studio">
                            <i class="material-icons">devices</i>
                            <div class="element-card">
                                Preview
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-ST">
                        <div class="element-item" id="history-Studio">
                            <i class="material-icons">history</i>
                            <div class="element-card">
                                History
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-ST">
                        <div class="element-item" id="shop-Studio">
                            <i class="material-icons">shopping_basket</i>
                            <div class="element-card">
                                Shop
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-ST">
                        <a href="index.html" class="element-item" id="item-close-Studio">
                            <i class="material-icons">close</i>
                            <div class="element-card">
                                back
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="extra-panel-Studio" id="extra-panel-Studio"></div>
            </div>

        </div>
        <!-- <script src="../../assets/js/dragAndDrop.js"></script> -->
        <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../../assets/js/connect.js"></script>
        <script src="../../assets/js/pages/pageBuilder.js"></script>
    </body>
</html>