<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="stacks">
        <title>EasyBuilder</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="../../assets/css/connect.min.css" rel="stylesheet">
        <link href="../../assets/css/dark_theme.css" rel="stylesheet">
        <link href="../../assets/css/custom.css" rel="stylesheet">
    </head>
    <body class="compact-sidebar">
        
        <div class='loader'>
            <div class='spinner-grow text-primary' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
        </div>
        <div class="connect-container align-content-stretch d-flex flex-wrap">
            <div class="page-sidebar">
                <div class="logo-box">
                    <a class="logo-text">EasyBuider</a> 
                    <a id="sidebar-state" class="material-icons">close</a>
                </div>
                <div class="page-sidebar-inner slimscroll">
                    <ul class="accordion-menu">
                        <li class="sidebar-title">
                            connect
                        </li>
                        <li>
                            <a href="index.html" class="active"><i class="material-icons-outlined">home</i>Home</a>
                        </li>
                        <li>
                            <a href="profile.html"><i class="material-icons-outlined">account_circle</i>Profile</a>
                        </li>
                        <li class="active-page">
                            <a href="file-manager.html"><i class="material-icons">cloud_queue</i>File Manager</a>
                        </li>
                        <li>
                            <a href="todo.html"><i class="material-icons">done</i>Todo</a>
                        </li>
                        <li>
                            <a href="">Pages<i class="material-icons has-sub-menu">add</i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="404.html">404</a>
                                </li>
                                <li>
                                    <a href="500.html">500</a>
                                </li>
                                <li>
                                    <a href="sign-in.html">Sign In</a>
                                </li>
                                <li>
                                    <a href="sign-up.html">Sign Up</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-container">
                <div class="page-header">
                    <nav class="navbar navbar-expand">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="navbar-nav">
                            <li class="nav-item small-screens-sidebar-link">
                                <a href="#" class="nav-link"><i class="material-icons-outlined">menu</i></a>
                            </li>
                            <li class="nav-item nav-profile dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../../assets/images/avatars/profile-image-1.png" alt="profile image">
                                    <span>Nancy Moore</span><i class="material-icons dropdown-icon">keyboard_arrow_down</i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Settings &amp Privacy</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Log out</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <span  class="nav-link" id="dark-theme-toggle"></span>
                            </li>
                        </ul>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="addElement.html" class="nav-link">Add Element</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pageBuilder.html" class="nav-link">Go Build</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">My works</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-search">
                            <form>
                                <div class="form-group">
                                    <input type="text" name="search" id="nav-search" placeholder="Search...">
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
                <div class="page-content">
                    <div class="page-info">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Apps</a></li>
                                <li class="breadcrumb-item active" aria-current="page">File Manager</li>
                            </ol>
                        </nav>
                        <div class="page-options">
                            <a href="#" class="btn btn-danger">Go Premium</a>
                        </div>
                    </div>
                    <div class="connect-wrapper">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card card-transparent">
                                    <div class="card-body">
                                        <a href="#" class="btn btn-primary btn-block">Upload File</a>
                                        <div class="file-manager-menu">
                                            <ul class="list-unstyled">
                                                <li class="fmm-title">My Drive</li>
                                                <li>
                                                    <a href="#"><i class="material-icons">folder_open</i>All Files</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="material-icons">access_time</i>Recents</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="material-icons">laptop</i>My Devices</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="material-icons">star_border</i>Important</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="material-icons">delete_outline</i>Deleted</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="file-manager-menu label-menu">
                                            <ul class="list-unstyled">
                                                <li class="fmm-title">Labels</li>
                                                <li>
                                                    <a href="#"><i class="bg-danger"></i>Work</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="bg-success"></i>Personal</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="bg-warning"></i>Family</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="bg-primary"></i>Friends</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="bg-dark"></i>Other</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="storage-info">
                                            <span class="storage-info-title">Storage</span>
                                            <span class="storage-info-text">125.4GB used of 500GB</span>
                                            <div class="progress m-b-sm">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="card card-transparent file-list recent-files">
                                    <div class="card-body">
                                        <h5 class="card-title">RECENT FILES</h5>
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file photo">
                                                    <div class="file-dropdown-menu-toggler">
                                                        more_vert
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">photo</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>IMG_08719.jpg</p>
                                                        <span class="file-size">657.9kb</span><br>
                                                        <span class="file-date">Last Accessed: 17min ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file pdf">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu "aria-labelledby="navbarDropdown">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">description</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>Lease_05.pdf</p>
                                                        <span class="file-size">17.5kb</span><br>
                                                        <span class="file-date">Last Accessed: 2 hours ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file code">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">code</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>user_info.java</p>
                                                        <span class="file-size">12.7kb</span><br>
                                                        <span class="file-date">Last Accessed: 6 hours ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file audio">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">volume_up</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>music_1.mp3</p>
                                                        <span class="file-size">37.4mb</span><br>
                                                        <span class="file-date">Last Accessed: 7 hours ago</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-transparent file-list">
                                    <div class="card-body">
                                        <h5 class="card-title">FOLDERS</h5>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card folder">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="folder-icon">
                                                            <i class="material-icons">folder_open</i>
                                                        </div>
                                                        <div class="folder-info">
                                                            <a href="#">Photos</a>
                                                            <span>87 files, 417mb</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card folder">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="folder-icon">
                                                            <i class="material-icons">folder_open</i>
                                                        </div>
                                                        <div class="folder-info">
                                                            <a href="#">Music</a>
                                                            <span>9 files, 56mb</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-transparent file-list">
                                    <div class="card-body">
                                        <h5 class="card-title">FILES</h5>
                                        <div class="row">
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file pdf">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">description</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>users.txt</p>
                                                        <span class="file-size">14.2kb</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file audio">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">volume_up</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>group_project.mp3</p>
                                                        <span class="file-size">1.2mb</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file code">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">code</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>upload.php</p>
                                                        <span class="file-size">12.7kb</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file code">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">code</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>check_status.php</p>
                                                        <span class="file-size">23.8kb</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file photo">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">photo</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>friends_09.jpg</p>
                                                        <span class="file-size">389.2kb</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-xl-3">
                                                <div class="card file photo">
                                                    <div class="file-options dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#">View Details</a>
                                                            <a class="dropdown-item" href="#">Mark as Important</a>
                                                            <a class="dropdown-item" href="#">Move To</a>
                                                            <a class="dropdown-item" href="#">Copy To</a>
                                                            <a class="dropdown-item" href="#">Rename</a>
                                                            <a class="dropdown-item" href="#">Download</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <div class="card-header file-icon">
                                                        <i class="material-icons">photo</i>
                                                    </div>
                                                    <div class="card-body file-info">
                                                        <p>friends_08.jpg</p>
                                                        <span class="file-size">436.6kb</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="footer-text">2019 © stacks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mailbox-compose-overlay"></div>
        <div class="mailbox-item-overlay"></div>
        <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../../assets/js/connect.js"></script>
    </body>
</html>