<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Easy Builder</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link href="../../assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../../assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="../../assets/css/connect.css" rel="stylesheet">
        <link href="../../assets/css/custom.css" rel="stylesheet">
        <link href="../../assets/css/dragAndDrop.css" rel="stylesheet">
        <link href="../../assets/css/pageBuilder.css" rel="stylesheet">
        <link href="../../assets/css/dark_theme.css" rel="stylesheet">
        <link rel="stylesheet" href="../../assets/css/shop.css">
    </head>
    <body>
        <div class='loader'>
            <div class='spinner-grow text-primary' role='status'>
                <span class='sr-only'>Loading...</span>
            </div>
        </div>
        <div class="shop-popup" id="shop-popup"></div>
        <div class="PageBuilder-container">
            <div class="PB-container-EasyBuiulder">

                <div class="nav-panel-PB">
                    <ul class="nav-panel-list-PB unselectable">
                        <li class="nav-panel-item-PB">
                            <div class="element-item" id="Elements-EasyBuilder">
                                <i class="material-icons">widgets</i>
                                <div class="element-card">
                                    Elem.
                                </div>
                            </div>
                        </li>
                        <li class="nav-panel-item-PB">
                            <div class="element-item">
                                <i class="material-icons">apps</i>
                                <div class="element-card">
                                    map
                                </div>
                            </div>
                    </li>
                    <li class="nav-panel-item-PB">
                        <div class="element-item" id="task-EasyBuilder">
                            <i class="material-icons">add</i>
                            <div class="element-card">
                                task
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-PB">
                        <div class="element-item" id="settings-EasyBuilder">
                            <i class="material-icons">settings</i>
                            <div class="element-card">
                                Settings
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-PB">
                        <div class="element-item" id="devices-EasyBuilder">
                            <i class="material-icons">devices</i>
                            <div class="element-card">
                                Preview
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-PB">
                        <div class="element-item" id="history-EasyBuilder">
                            <i class="material-icons">history</i>
                            <div class="element-card">
                                History
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-PB">
                        <div class="element-item" id="shop-EasyBuilder">
                            <i class="material-icons">shopping_basket</i>
                            <div class="element-card">
                                Shop
                            </div>
                        </div>
                    </li>
                    <li class="nav-panel-item-PB">
                        <a href="index.html" class="element-item" id="item-close-EasyBuilder">
                            <i class="material-icons">close</i>
                            <div class="element-card">
                                back
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="extra-panel-EasyBuilder" id="extra-panel-EasyBuilder"></div>
            </div>
            <div class="page-demo" id="page-demo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dignissimos placeat accusamus magnam enim, obcaecati quasi natus et. Tempora quibusdam eum labore quia sequi deserunt architecto! Incidunt similique molestias harum!
                    Numquam dolores, quibusdam amet mollitia consequatur inventore perferendis repellat cumque architecto aspernatur illo sequi dolor. Quam officiis, esse dignissimos reiciendis deleniti necessitatibus, sed suscipit quod a, asperiores possimus mollitia rerum.
                    Natus aliquid nulla amet, corporis, laudantium excepturi rem voluptate placeat libero debitis eius sapiente vel dolor reiciendis. Non voluptatem cumque modi aperiam fuga harum error totam! Unde ducimus natus quisquam.
                    Ea repellat ipsa quis, beatae nesciunt recusandae hic nihil fugiat libero unde iste expedita asperiores sed, quasi voluptas soluta ullam ab incidunt iure nobis vitae molestiae excepturi. Quaerat, optio cupiditate.
                    Exercitationem corrupti distinctio tenetur accusantium natus hic repudiandae dolorum aspernatur neque saepe placeat qui, nisi architecto. Ipsam tenetur dignissimos, itaque repellat, fuga tempora reprehenderit commodi sapiente maiores nulla in eos.
                    Quaerat, ea dolores, explicabo veniam unde molestiae et, repudiandae quidem atque rerum odit facilis beatae reiciendis commodi amet. Consequuntur pariatur eligendi sequi blanditiis praesentium. Odio excepturi voluptatibus esse architecto necessitatibus.
                    Perferendis doloremque nesciunt sapiente sunt dolore mollitia quidem at voluptates reiciendis minus minima, magni natus labore eos esse consequuntur aliquid obcaecati? Iure doloribus officiis optio dolorum doloremque odio, repellendus et.
                    Perferendis eius deserunt a neque explicabo quo sunt? Placeat accusamus architecto inventore facere sunt ad mollitia ipsam, aliquid officia culpa tempore sint ab esse ratione velit. Accusantium debitis libero error.
                    Qui autem asperiores ullam, dolores velit expedita excepturi error aut corrupti vero eaque laborum nulla beatae, accusantium illum ducimus maxime quam fuga dicta necessitatibus veritatis! Consectetur labore quisquam officiis cum?
                    Placeat ipsa expedita libero ipsam natus eveniet dicta fugit iusto cumque officia facilis quaerat perferendis molestiae earum itaque distinctio in autem harum dolorem qui, deserunt nostrum optio! Minus, numquam ipsum.
                    Dolor earum dicta adipisci sequi in tempora dolore! Modi, ex eveniet. Quis voluptatum mollitia inventore corrupti totam maiores? Unde ratione quae ipsum libero nesciunt fuga laborum recusandae veritatis qui laudantium?
                    Accusamus adipisci a animi cumque illum, beatae perferendis? Consectetur, obcaecati? Laudantium qui vel nobis in quam, quod ab id repudiandae eveniet iste similique ullam commodi! Beatae laborum minus enim perferendis?
                    Unde quaerat ab facilis mollitia rem porro odio ratione nisi labore corporis quas quis laboriosam dolorum atque nulla, velit exercitationem incidunt neque corrupti sunt ut quibusdam in commodi totam. Iusto.
                    Explicabo distinctio laborum beatae illo, sequi reprehenderit facilis qui dicta molestias reiciendis excepturi architecto consequuntur id pariatur esse quaerat animi soluta a impedit? Ipsam ipsa tenetur, aperiam minus fugit odio.
                    Tempore sint, perspiciatis repudiandae dolore eum debitis blanditiis aperiam, ipsam delectus alias esse vitae illum aliquam at quas magni nihil eligendi unde nulla maxime mollitia dignissimos. Ad laboriosam voluptatum expedita?
                    Labore a harum, ad architecto possimus autem nobis explicabo quo consequuntur nihil fugit provident saepe dignissimos exercitationem corporis totam debitis tenetur alias veniam quas ullam itaque. Unde ratione harum a.
                    Labore explicabo ab sapiente nesciunt vitae laborum eveniet accusamus necessitatibus, nostrum molestias, voluptatum facere quos debitis veniam dolore alias, dignissimos unde. Voluptatem, aut? Suscipit quibusdam numquam illo sint enim doloribus!
                    Harum odio iusto non dicta ea consequuntur! Necessitatibus, ducimus tempore deleniti veniam impedit nisi, obcaecati est iste at incidunt provident in vitae molestiae facilis! Doloribus aperiam eius saepe nesciunt asperiores.
                    Magni, explicabo aut incidunt nostrum fuga totam ipsum eos odit assumenda. Perferendis, explicabo, quaerat sapiente corporis nam sed modi molestias quibusdam beatae quod similique quasi totam in obcaecati consectetur temporibus?
                    Ratione magni facere libero at adipisci minima assumenda facilis incidunt beatae iste aliquid eveniet, quasi quibusdam dolore ab voluptate sed laudantium dolorem. Pariatur nobis obcaecati iusto voluptate unde, saepe commodi!
                    Tempora voluptas, vel, maxime adipisci cumque beatae hic atque velit rerum commodi odio nulla quasi molestias, quas eos natus? Culpa veritatis quo neque quaerat eaque expedita dignissimos omnis, aliquid unde!
                    Placeat voluptatum ducimus iste! Vitae, nisi aperiam. Quisquam libero dignissimos inventore ipsam, voluptas vel at, blanditiis quae, corporis amet nesciunt natus laboriosam recusandae asperiores laudantium eveniet praesentium fugiat quam harum?
                    Similique, mollitia quas voluptate perferendis omnis doloribus repellat distinctio dolor quia voluptatem fugit id. Neque obcaecati fugit nam officia iure? Ipsam eligendi tenetur at atque error facere nisi. Officia, autem!
                    Maxime, beatae animi. Accusantium unde id ullam similique fugit iure earum consequatur culpa voluptatibus eos quaerat delectus voluptatum, architecto cum necessitatibus vero voluptate illo incidunt maxime, dolor officiis ipsa porro.
                    Necessitatibus illum dolorum cumque quod placeat! Quisquam distinctio, suscipit laudantium deserunt ipsa dicta veniam iusto, culpa possimus inventore nobis voluptas tenetur consequuntur modi voluptatum nemo molestias, aliquam deleniti? Itaque, excepturi?
                    Officiis, possimus quidem eum facilis sed a? Commodi consequuntur maiores perferendis omnis rerum sapiente officiis totam facere fugiat ab quisquam consequatur vel blanditiis a quia, ad delectus cumque incidunt ipsam.
                    Facere, aut quae nesciunt suscipit neque nisi. Cumque vitae, ad asperiores doloribus aut possimus praesentium sunt libero veritatis incidunt eaque voluptatibus ut temporibus, eligendi ullam quae, et atque quidem. Provident?
                    Aspernatur, delectus ex, in explicabo harum soluta officiis numquam maxime voluptatum ad fugiat nam aliquid perferendis corporis possimus recusandae, vero iusto repellendus. Repellendus repudiandae nobis asperiores mollitia aspernatur inventore hic!
                    Exercitationem facere, iste dignissimos iusto perspiciatis voluptatem recusandae voluptatum consequatur cumque laboriosam, quo tenetur ipsam architecto quia illo corrupti iure deserunt nemo provident quibusdam beatae doloribus adipisci laudantium! Aspernatur, voluptates?
                    Architecto laborum voluptas reiciendis vel, assumenda dolore nulla voluptates quam itaque non tenetur neque autem, consequuntur soluta quo facere vero quisquam. Delectus doloribus, quia ipsa modi tenetur dolores voluptates temporibus.
                    Eligendi quam tenetur dolorem possimus iusto saepe debitis, sit incidunt ex ut corporis hic maiores exercitationem atque facere ipsum alias, consequuntur quidem eius. Exercitationem, dicta. Dolorum distinctio non asperiores dicta.
                    Cum dolorum in odio nesciunt, totam amet obcaecati? Quia officiis explicabo necessitatibus vero maiores accusantium, numquam corporis! Voluptate, perferendis ratione temporibus quisquam impedit rerum neque magni delectus repellendus maxime atque.
                    Excepturi facere porro veritatis sint vero! Veniam facere iste ab eum quam deserunt error vel, cupiditate nam, excepturi totam ratione? Illum debitis commodi possimus, blanditiis odio officia perspiciatis quos deserunt?
                    Nulla, blanditiis. Magnam voluptate sint, corrupti beatae id nisi distinctio architecto assumenda voluptatum neque rerum perferendis quae dolorem dignissimos, asperiores cum dolore laboriosam cupiditate? Provident voluptas expedita exercitationem sed quibusdam?
                    Labore eveniet voluptatum magni debitis id? Eaque aliquid, perspiciatis quasi aut architecto culpa repudiandae quam. Perspiciatis debitis fugit dolorum nam? Ab, recusandae velit! Culpa recusandae ut neque similique, quaerat possimus!
                    Similique esse facere mollitia voluptatem dolorum, asperiores hic officiis itaque vero enim beatae autem, incidunt ad earum dicta quos doloremque accusantium unde perspiciatis laudantium? Totam ullam pariatur assumenda eligendi tempora.
                    Rem dolorum incidunt reprehenderit unde odit ab dolorem quaerat culpa maxime. Impedit fugit, optio rem veniam quaerat assumenda. Nam aperiam nulla expedita hic, eligendi beatae aspernatur est quo ab exercitationem.
                    Ex, tenetur veritatis odio asperiores suscipit aspernatur, delectus doloribus quod deserunt aperiam omnis aliquid perferendis harum voluptatum labore ad. Libero illo mollitia quisquam voluptas! Dolorum ab quod similique quam dolor!
                    Fugiat eligendi odio, repellat dolore a explicabo quas quo libero veritatis sapiente commodi maiores incidunt similique eaque ducimus placeat possimus alias id delectus consequuntur itaque aperiam maxime doloribus. Totam, voluptatum.
                    Dolore non neque odio ad excepturi at, dolores facere et unde, ex porro aliquid. Odit eius fugiat temporibus? Ipsam magnam omnis dolor voluptates veritatis nobis ut nesciunt quam error voluptas.
                    Possimus a harum laudantium porro impedit necessitatibus incidunt vero ducimus perspiciatis ullam! Perferendis, quam error accusamus ipsa dicta, deleniti id sunt molestiae earum, laborum corrupti aspernatur minima facilis aperiam eum?
                    Quidem sapiente maiores voluptatem neque animi tempora voluptate corporis fuga nulla natus optio iure a, quis consequuntur reiciendis totam sunt deserunt blanditiis possimus vero veniam in facere eum. Maiores, aliquam.
                    Possimus dolorem, illum obcaecati officiis iure animi ratione distinctio nihil illo! Dolorum esse porro saepe libero, pariatur tenetur minus illum quis aut. Voluptatibus dignissimos voluptas laboriosam ut aliquid repudiandae rem.
                    Qui debitis sunt, aperiam rem impedit, magnam necessitatibus officia in delectus nostrum tenetur nobis eius, dicta error. Alias molestias, tenetur maxime perferendis natus voluptate ipsum adipisci laboriosam tempora sunt dolor.
                    Sunt quos autem at soluta aspernatur qui nostrum? Facilis cum repellat dolores vel rem placeat quam inventore laudantium quibusdam a, unde, et, corrupti distinctio hic sed culpa incidunt nihil praesentium.
                    Quibusdam, tempora excepturi itaque similique dolorum minima harum odit reprehenderit provident blanditiis rem ad voluptatibus repellendus quam nulla, magni vitae tempore nemo, obcaecati ea repellat. Magnam assumenda harum porro atque.
                    Porro eveniet voluptatum illo illum nemo. Pariatur neque laudantium vero suscipit quas in temporibus inventore sint consequatur! Sunt ab dicta dolore, cum quo, consequatur laudantium, sed voluptatum vitae similique enim.
                    Dicta aliquid modi provident quibusdam saepe animi reiciendis delectus numquam labore unde quidem, nisi dolorem voluptatibus neque ipsum autem illum iste natus consequatur deserunt quos eligendi fuga voluptates. Fugiat, expedita.
                    Eligendi sint nobis reprehenderit aperiam at quod voluptatum commodi facere illo qui molestiae ducimus tempora, dignissimos unde distinctio nam quidem amet. Reprehenderit animi odio repudiandae eos quibusdam natus facilis laudantium.
                    Porro, ea officiis doloremque ratione beatae illum cum quis reprehenderit velit voluptate id non odit ducimus quisquam, assumenda, repellat ab minus delectus. Maiores, ipsa? Nam tempore sit consectetur delectus alias.
                    Aliquam commodi velit eum repudiandae suscipit corporis ipsum, hic nam! Iure dolorem temporibus aperiam maiores, voluptatem sapiente, vitae fuga ipsum autem blanditiis voluptas dolorum sit dignissimos repudiandae neque! Molestias, deleniti?
                    Aperiam pariatur explicabo est eaque laudantium consequatur veniam accusamus perspiciatis odit! Atque, minus? Molestias ad quis doloribus beatae alias facilis eaque incidunt et eum neque fugit enim, itaque consectetur suscipit.
                    Consectetur soluta distinctio cupiditate perferendis eum laborum quas, rerum voluptatem quibusdam maiores in veritatis molestiae quia sed voluptate. Sit tenetur, maiores ad molestias tempora vitae veritatis sint quos eos dignissimos.
                    Dolores, labore magnam? Reprehenderit rem consectetur voluptatem laboriosam mollitia enim quidem sit numquam molestias eveniet ratione aperiam consequuntur suscipit sed, repellat minima dolorem assumenda similique? Vitae quaerat modi iure cumque.
                    Sunt, incidunt? Non, impedit repellat. Doloremque quam nisi molestias commodi velit. Libero incidunt tempora eaque. Repellat aspernatur dolorem asperiores? Facilis asperiores impedit dolores perferendis quae! Eos dicta illo iste deleniti?
                    Distinctio dignissimos in earum deserunt, laborum consectetur ex maiores error sunt maxime voluptatibus. Tempora, assumenda? Numquam consectetur veniam mollitia exercitationem voluptas ullam, itaque ex! Itaque accusantium modi optio est. Nisi?
                    Quibusdam delectus similique fugiat dolorem, iure repudiandae eveniet quaerat molestias aspernatur nisi praesentium commodi fuga labore doloremque rem maiores quam alias veritatis, magnam saepe facilis illo exercitationem unde. Ad, illum.
                    Autem nisi et vel ratione iste perferendis minus commodi, eaque ipsa illo asperiores impedit aliquid accusamus cupiditate. Culpa vitae iure nulla consequuntur dignissimos error eaque. Commodi blanditiis assumenda hic magnam.
                    Doloribus voluptatibus dicta voluptatum voluptates tempora labore omnis incidunt, distinctio, inventore, eos soluta possimus rem accusantium reiciendis mollitia a aperiam dolorum error quisquam sunt laudantium. Eos harum voluptas minima nemo?
                    Architecto suscipit nesciunt vitae cumque odit ut repellat amet facere, cum eius modi unde ex, odio numquam iusto, asperiores autem omnis earum deleniti eligendi expedita harum molestias vel. Sint, iusto?
                    Facere ipsum sit natus placeat dignissimos et cumque provident sequi. Soluta saepe impedit, quidem maiores voluptatum labore architecto neque tempore facilis incidunt ut accusamus. Vero sit consectetur facilis aliquam fugiat.
                    Est consequuntur deleniti necessitatibus? Tenetur qui reiciendis, aspernatur adipisci nemo harum temporibus. Dignissimos, neque deleniti, totam aspernatur quod animi voluptatibus illo quos eveniet ipsa eius! Perferendis, soluta. Aperiam, esse provident!
                    Soluta, vero autem vitae est fugiat quod voluptatibus labore cum minus debitis. Esse in nam perspiciatis soluta sunt tempore, blanditiis laborum quia asperiores, provident molestiae quae enim possimus ut architecto?
                    Illo harum voluptatibus hic cum a necessitatibus. Laborum, natus recusandae unde quas incidunt sapiente a quibusdam. Magnam voluptatibus maiores a dolor laboriosam hic in, totam, ea ipsum odit numquam officia.
                    Obcaecati nihil facere minima! Fugit esse sint perferendis, pariatur deserunt, laudantium, eligendi similique voluptatibus non earum quaerat mollitia repellendus tempore delectus facilis quod dolore soluta ipsum totam aspernatur incidunt voluptas!
                    Molestias necessitatibus asperiores eum, esse voluptatem deleniti ab laborum aliquam eveniet ex sapiente omnis reprehenderit accusamus. Alias placeat odio ut, inventore delectus dolorem assumenda veniam! Eius sint sunt quia aliquam?
                    Placeat sequi voluptatibus deserunt? Labore consequuntur voluptates soluta facilis molestias ipsam totam rem, commodi obcaecati, tempora facere doloremque atque ad deserunt accusantium voluptatibus magnam iure. Officiis, dicta deserunt! Incidunt, sint!
                    Iusto sint eos vero, explicabo autem nostrum voluptate tempore soluta provident dolores laboriosam dolore exercitationem! Nesciunt eveniet illo doloribus praesentium nostrum quis, iste iusto saepe reprehenderit, numquam mollitia amet. Beatae.
                    In aliquam aliquid necessitatibus, facere illum tempora cupiditate dignissimos ea aspernatur, vitae reiciendis reprehenderit officia eos ex repellat totam perferendis dolorum deleniti consequuntur aperiam magnam vero. Ipsam, sed accusantium? Laboriosam!
                    Maxime ipsum veritatis, expedita temporibus vitae eveniet! Soluta molestias reiciendis nemo, odit iste adipisci sit magnam, numquam magni assumenda ut inventore repellendus maxime rem omnis fuga fugit in dolorum deleniti.
                    Impedit necessitatibus doloribus dolore cum reiciendis voluptas porro vitae nostrum reprehenderit nihil vero ut distinctio esse perspiciatis omnis ab praesentium, dolorum rem laborum tenetur asperiores mollitia. Fugit dolores perferendis pariatur.
                    Sint voluptates nulla eligendi excepturi, voluptatum delectus totam porro. Dolore minus dignissimos omnis, beatae cumque, nesciunt itaque suscipit sapiente, praesentium odio quam cupiditate doloremque voluptatum tempore ullam fuga temporibus voluptate.
                    Omnis mollitia eos veritatis soluta fugit necessitatibus quos quaerat aliquam sequi quo natus eligendi sunt, rerum hic sed temporibus impedit officia expedita. Ex iusto esse et dolorem sunt laboriosam! Expedita.
                    Quidem voluptate facere ipsam vel possimus ea, modi veniam unde maiores vitae doloremque, necessitatibus ducimus eum beatae ipsa aperiam dolore totam, illo corporis vero. Provident consequuntur ratione rerum in deleniti.
                    Repellat eveniet illum, natus odio omnis dicta magni porro enim doloribus corrupti assumenda reiciendis aut blanditiis ratione facere asperiores distinctio similique in fuga laboriosam commodi sequi ipsa hic odit! Id.
                    Iure minus, velit optio ullam soluta veritatis sint doloribus doloremque repellat corporis cupiditate cum consequatur consequuntur corrupti inventore nisi ipsam repudiandae natus provident labore et praesentium voluptatibus aperiam accusamus. Atque!
                    Assumenda eos quae voluptatum necessitatibus officiis debitis optio commodi sed quam, nobis, ut eum maiores repellat, explicabo dignissimos harum ea sunt voluptates sint amet doloribus quod quos illo. Dignissimos, accusantium?
                    Suscipit eveniet aliquam quam debitis impedit optio doloribus molestiae esse, maxime ullam repellat dolorum unde tempore! Eveniet exercitationem quo ab quaerat provident deleniti eum, eos, minus reiciendis aliquid, aut ipsa.
                    Porro error doloremque saepe incidunt, beatae repellendus voluptatibus exercitationem amet laborum architecto quod? Aut dolorum quis consectetur pariatur suscipit obcaecati sunt, voluptatum perspiciatis at nesciunt saepe quas eveniet corrupti facere?
                    Harum similique praesentium officia voluptatibus, porro quos suscipit quia. Nulla illo praesentium magni facere suscipit doloribus deserunt quo, hic architecto neque odit deleniti itaque autem natus sint fugit accusamus doloremque.
                    Sit et vero, officiis voluptatum cumque consequuntur dolorem blanditiis perferendis culpa eos incidunt ratione. Porro, tenetur dolore. Modi, laudantium hic aspernatur incidunt nihil perspiciatis reiciendis quam nisi similique libero nemo?
                    Adipisci qui doloribus commodi nesciunt iusto asperiores praesentium soluta voluptas repellendus. At laborum dolorem voluptates soluta unde nemo, tempore sint sed alias quibusdam ex tenetur non hic? Facilis, nam incidunt.
                    Maxime, quaerat! Fugit, eligendi perspiciatis fuga laborum impedit facilis distinctio, cumque nisi nihil molestias amet cupiditate pariatur incidunt delectus a praesentium in dolor quod? Laborum sequi quidem modi dignissimos perferendis?
                    Cumque, accusantium totam. Dignissimos, nisi ducimus facere quaerat quis doloremque nobis voluptate non. Accusamus, reiciendis fugit libero corporis doloremque eveniet temporibus? Saepe quia eius enim corrupti quas reprehenderit quaerat adipisci!
                    Esse consequuntur laboriosam sapiente non quia nisi, delectus magnam vel, eaque libero optio ab? Sunt ipsam necessitatibus, voluptate dolore nobis ipsum, molestias consectetur nulla dolores sint, aliquid placeat ratione eaque.
                    Sequi quas nobis voluptate sunt, sed nemo impedit deserunt vero suscipit atque odit optio numquam consectetur adipisci. Corporis veniam voluptas, quaerat quibusdam ipsum maxime omnis maiores, nemo cupiditate ullam deleniti!
                    Repellat quod architecto ex reprehenderit voluptatem animi exercitationem, recusandae minus ratione! Unde iusto sed error labore! Unde, provident tenetur. Incidunt corporis magni voluptas quibusdam, non eaque cupiditate maxime enim magnam.
                    Fugit, culpa repellat? Excepturi voluptatibus nam velit debitis placeat dignissimos maiores quisquam laborum odio porro reprehenderit ea dicta repellat animi in veritatis, molestias libero ab aspernatur ad soluta labore nesciunt.
                    Tempore tenetur accusantium facere mollitia, ipsam saepe expedita cum voluptas minus aut quia quae perspiciatis architecto, corporis et vitae soluta quod commodi asperiores non doloribus. Repellendus delectus ut exercitationem dolores.
                    Quod natus eos veniam fugit animi, quibusdam libero facilis repellendus impedit voluptatum sapiente asperiores hic dolore ad laborum rem repellat tenetur obcaecati nihil incidunt! Ipsum nam commodi est consequatur temporibus.
                    Non atque reprehenderit deserunt nam, molestias, tempore maiores consequuntur nesciunt quidem facilis asperiores sapiente error rem autem magni voluptatibus quasi nihil veritatis iste quam, sint expedita. Debitis omnis ipsa saepe?
                    Reiciendis odio placeat fuga. Tempore totam at ipsum fuga dolorem nihil temporibus animi reiciendis autem illum maxime placeat beatae sunt consequatur, numquam iste! Tenetur sapiente recusandae distinctio repellat facilis quas.
                    Fugit accusamus, neque aspernatur, sapiente non praesentium, obcaecati dolor illum vitae molestias magnam enim minus voluptates earum repudiandae labore voluptate aut quisquam cum omnis quod dolorum. Odit rerum quo debitis.
                    Eos nostrum exercitationem molestiae, consectetur facilis maxime omnis quod adipisci vel quae quisquam rerum laborum, deleniti numquam ut illum maiores, veritatis dignissimos! Molestias, quae nisi exercitationem eius at voluptas fugit!
                    Perferendis vero possimus iusto aut facilis, ad voluptas magnam, voluptatibus iste, unde rem beatae facere corrupti quo. Illo iusto modi atque error! Itaque a neque consequuntur ullam harum necessitatibus iste?
                    Odio laboriosam repellat, similique vitae accusamus adipisci quisquam aliquam repudiandae minus ea consectetur tenetur praesentium reprehenderit facilis enim! Assumenda dolorum odit optio facilis et est natus perferendis dicta harum ab!
                    Quis iure aliquid placeat soluta, dolore facilis at vel unde repudiandae temporibus molestias? Quia omnis vero dolore reprehenderit ex cupiditate exercitationem nemo quod, cumque mollitia dolorum, aut sunt maxime nobis.
                    Cupiditate ipsam itaque voluptatum tenetur sed fuga nisi ullam rem blanditiis, officiis vitae id, veniam animi. Quis reprehenderit cupiditate ut magni, amet harum voluptas itaque nostrum at! Quo, laudantium ipsam.
                    Veritatis mollitia eius odio sapiente, tempora qui eum consectetur a, voluptatum maxime porro repellat vel aliquam? Veritatis rem unde commodi, nesciunt officia et molestiae consectetur autem hic eius minus fuga?
                    Veniam commodi praesentium quas cumque sequi fugiat perspiciatis harum soluta temporibus distinctio. Aliquid ducimus quibusdam aperiam soluta beatae obcaecati exercitationem eos deleniti iure molestias alias dolorum, distinctio in adipisci quidem!
            </div>
        </div>
        <!-- <script src="../../assets/js/dragAndDrop.js"></script> -->
        <script src="../../assets/plugins/jquery/jquery-3.4.1.min.js"></script>
        <script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="../../assets/js/connect.js"></script>
        <script src="../../assets/js/pages/pageBuilder.js"></script>
    </body>
</html>